{% extends "layout.blank" %}

{% block title %}Confirm Password{% endblock %}

{% block content %}
<body class="theme-dark d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="#" class="navbar-brand navbar-brand"><img src="/img/logo.png" height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Confirm Your Password</h2>
                <p class="mb-4">Please enter your password to continue.</p>
                <form method="POST" autocomplete="off" action="{{ route('password.confirm') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                    <div class="mb-3">
                        <label class="form-label">
                            Password
                            <span class="form-label-description">
                    <a href="{{ route('password.email') }}">Forgot Password?</a>
                  </span>
                        </label>
                        <input id="password" name="password" type="password" class="form-control" autocomplete="off"
                               required>
                    </div>

                    <div class="form-footer">
                        {% if errors is not empty %}
                            <div class="alert alert-danger">
                                <p>{{ errors.all()|first }}</p>
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary w-100">Confirm Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
