{% extends "layout.blank" %}

{% block title %}Set Your Password{% endblock %}

{% block content %}
<body class="d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="#" class="navbar-brand navbar-brand"><img src="/img/logo.png" height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Set Your Password</h2>
                <p class="mb-4">Please set your password to continue.</p>
                <form method="POST" autocomplete="off" action="{{ route('set-social-password') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input id="password" name="password" type="password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input id="password_confirmation" name="password_confirmation" type="password"
                               class="form-control" required>
                    </div>
                    <div class="form-footer">
                        {% if errors is not empty %}
                            <div class="alert alert-danger">
                                <p>{{ errors.all()|first }}</p>
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary w-100">Set Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
