{% extends "layout.blank" %}

{% block title %}Set Your Password{% endblock %}

{% block included_scripts %}
    User
    <script type="text/javascript">
        $(document).ready(function () {
            // Validate inputs on input
            $('#email, #password, #password_confirmation').on('input', function () {
                validateForm();
            });

            function validateForm() {
                var password = $('#password').val();
                var passwordConfirmation = $('#password_confirmation').val();
                var passwordValid = validatePassword(password);
                var passwordsMatch = password === passwordConfirmation;

                // Show or hide password mismatch hint
                $('#password-confirm-hint').css('display', passwordsMatch ? 'none' : 'inline');

                $('form').find('button[type="submit"]').prop('disabled', !(passwordValid && passwordsMatch));
            }

            function validatePassword(password) {
                var lengthValid = password.length >= 8 && password.length <= 255;
                var lettersNumbersValid = /[a-zA-Z]/.test(password) && /\d/.test(password);

                // This regex is for basic emoji detection. It may not cover all cases.
                var emojiRegex = /(\uD83D[\uDC00-\uDFFF])|(\uD83C[\uDC00-\uDFFF])|(\uFFFD)/;
                var noEmojiValid = !emojiRegex.test(password);

                updateHint('#length-hint', lengthValid);
                updateHint('#letters-numbers-hint', lettersNumbersValid);
                updateHint('#no-spaces-hint', noEmojiValid);

                return lengthValid && lettersNumbersValid && noEmojiValid;
            }

            function updateHint(hintId, isValid) {
                var color = isValid ? 'yellow' : 'red';
                var symbol = isValid ? '✔' : '✖';
                $(hintId).find('.hint-icon').css('color', color).text(symbol);
            }
        });
    </script>
{% endblock %}

{% block content %}
<body class="d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="#" class="navbar-brand navbar-brand"><img src="/img/logo.png" height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Set Your Password</h2>
                <p class="mb-4">Please set your password to continue.</p>
                <form method="POST" autocomplete="off" action="{{ route('set-social-password') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input id="password" name="password" type="password" class="form-control" required>
                        <small class="form-hint" id="password-hints">
                            <p class="password-hint" id="length-hint"><span class="hint-icon" style="color: red;">✖</span> Must be 8-255 characters long</p>
                            <p class="password-hint" id="letters-numbers-hint"><span class="hint-icon" style="color: red;">✖</span> Must contain letters and numbers</p>
                            <p class="password-hint" id="no-spaces-hint"><span class="hint-icon" style="color: red;">✖</span> Must not contain emoji</p>
                        </small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input id="password_confirmation" name="password_confirmation" type="password"
                               class="form-control" required>
                        <small class="form-hint">
                            <span id="password-confirm-hint" style="color: red; display: none;">Password confirmation does not match the password.</span>
                        </small>
                    </div>
                    <div class="form-footer">
                        {% if errors is not empty %}
                            <div class="alert alert-danger">
                                <p>{{ errors.all()|first }}</p>
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary w-100" disabled>Set Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
