{% extends "layout.blank" %}

{% block title %}Set Your Password{% endblock %}

{% block included_scripts %}
    {% if errors is not empty %}
        <script>
            $(document).ready(function() {
                $('#modal-error-message').modal('show');
            });
        </script>
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function () {
            // Validate inputs on input
            $('#email, #password, #password_confirmation').on('input', function () {
                validateForm();
            });

            function validateForm() {
                var password = $('#password').val();
                var passwordConfirmation = $('#password_confirmation').val();
                var passwordValid = validatePassword(password);
                var passwordsMatch = password === passwordConfirmation;

                // Show or hide password mismatch hint
                $('#password-confirm-hint').css('display', passwordsMatch ? 'none' : 'inline');

                $('form').find('button[type="submit"]').prop('disabled', !(passwordValid && passwordsMatch));
            }

            function validatePassword(password) {
                var lengthValid = password.length >= 8 && password.length <= 255;
                var lettersNumbersValid = /[a-zA-Z]/.test(password) && /\d/.test(password);

                // This regex is for basic emoji detection. It may not cover all cases.
                var emojiRegex = /(\uD83D[\uDC00-\uDFFF])|(\uD83C[\uDC00-\uDFFF])|(\uFFFD)/;
                var noEmojiValid = !emojiRegex.test(password);

                updateHint('#length-hint', lengthValid);
                updateHint('#letters-numbers-hint', lettersNumbersValid);
                updateHint('#no-spaces-hint', noEmojiValid);

                return lengthValid && lettersNumbersValid && noEmojiValid;
            }

            function updateHint(hintId, isValid) {
                var color = isValid ? 'yellow' : 'red';
                var symbol = isValid ? '✔' : '✖';
                $(hintId).find('.hint-icon').css('color', color).text(symbol);
            }
        });
    </script>
{% endblock %}

{% block content %}
<body class="d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href=".">
                    <img src="/img/logo.png" alt="Cryental's Private Space" class="navbar-brand-image">
                </a>
            </div>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Set Your Password</h2>
                <p class="mb-4">Please set your password to continue.</p>
                <form method="POST" autocomplete="off" action="{{ route('set-social-password') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input id="password" name="password" type="password" class="form-control" required>
                        <small class="form-hint" id="password-hints">
                            <p class="password-hint text-white" id="length-hint"><span class="hint-icon" style="color: red;">✖</span> Must be 8-255 characters long</p>
                            <p class="password-hint text-white" id="letters-numbers-hint"><span class="hint-icon" style="color: red;">✖</span> Must contain letters and numbers</p>
                            <p class="password-hint text-white" id="no-spaces-hint"><span class="hint-icon" style="color: red;">✖</span> Must not contain emoji</p>
                        </small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input id="password_confirmation" name="password_confirmation" type="password"
                               class="form-control" required>
                        <small class="form-hint">
                            <span id="password-confirm-hint" style="color: red; display: none;">Password confirmation does not match the password.</span>
                        </small>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100" disabled>Set Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-error-message" tabindex="-1" role="dialog" aria-modal="true"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"></path>
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                </svg>
                {% if errors is not empty %}
                    <h3>Error Occurred</h3>
                    <div class="text-muted">{{ errors.all()|first }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
