<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Internal Error - Cryental's Central</title>

    {% include "layout.head" %}
</head>
<body class="border-top-wide border-primary d-flex flex-column theme-dark">
<div class="page page-center">
    <div class="container-tight py-4">
        <div class="empty">
            <div class="empty-img"><img src="/img/quitting_time.svg" height="128" alt="">
            </div>
            <p class="empty-title">Temporarily down for maintenance</p>
            <p class="empty-subtitle text-muted">
                Sorry for the inconvenience but we’re performing some maintenance at the moment. We’ll be back online
                shortly!
            </p>
        </div>
    </div>
</div>
</body>
</html>
