/* inter-100 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-100.eot'); /* IE9 Compat Modes */
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-100.woff') format('woff'), /* Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-100.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-200 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-200.eot'); /* IE9 Compat Modes */
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-200.woff') format('woff'), /* Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-200.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-300 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-300.eot'); /* IE9 Compat Modes */
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-300.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-regular - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-500 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-500.eot'); /* IE9 Compat Modes */
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-500.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-600 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-600.eot'); /* IE9 Compat Modes */
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-600.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-800 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-800.eot'); /* IE9 Compat Modes */
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-800.woff') format('woff'), /* Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-800.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-900 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-900.eot'); /* IE9 Compat Modes */
    src: url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-900.woff') format('woff'), /* Modern Browsers */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/inter-v12-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-900.svg#Inter') format('svg'); /* Legacy iOS */
}

/* fira-code-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/fira-code-v21-latin-300.eot'); /* IE9 Compat Modes */
    src: url('/fonts/fira-code-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/fira-code-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/fira-code-v21-latin-300.woff') format('woff'), /* Modern Browsers */
    url('/fonts/fira-code-v21-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/fira-code-v21-latin-300.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fira-code-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/fira-code-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/fira-code-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/fira-code-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/fira-code-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/fira-code-v21-latin-regular.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/fira-code-v21-latin-500.eot'); /* IE9 Compat Modes */
    src: url('/fonts/fira-code-v21-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/fira-code-v21-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/fira-code-v21-latin-500.woff') format('woff'), /* Modern Browsers */
    url('/fonts/fira-code-v21-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/fira-code-v21-latin-500.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/fira-code-v21-latin-600.eot'); /* IE9 Compat Modes */
    src: url('/fonts/fira-code-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/fira-code-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/fira-code-v21-latin-600.woff') format('woff'), /* Modern Browsers */
    url('/fonts/fira-code-v21-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/fira-code-v21-latin-600.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/fira-code-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: url('/fonts/fira-code-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/fira-code-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/fira-code-v21-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/fira-code-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/fira-code-v21-latin-700.svg#FiraCode') format('svg'); /* Legacy iOS */
}

:root {
    --tblr-font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

body {
    font-feature-settings: "cv03", "cv04", "cv11";
}

.modal-blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.dropdown-menu {
    box-shadow: none;
}

.custom-dropdown{
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #1d273b; /* Fallback color if gradients are not supported */
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
}
